.container {
  max-width: 118rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container {
    width: 34.3rem;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #002A37;
  opacity: 22%;
  margin-top: 9rem;
}
@media (max-width: 375px) {
  .line {
    margin-top: 3.4rem;
  }
}

.title {
  color: #002A37;
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  line-height: 4.3rem;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .title {
    font-size: 3.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.btn-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 3.2rem 0.8rem 3.6rem;
  background-color: #00526D;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.9rem;
  text-transform: uppercase;
}
.btn-blue:hover {
  background-color: #006E92;
  -webkit-box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
          box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.btn-blue:active {
  position: relative;
  top: 0.1rem;
}
@media (max-width: 375px) {
  .btn-blue {
    width: 100%;
    padding: 1rem;
  }
}

.btn-orange {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.7rem 3.2rem 1.9rem 3.3rem;
  text-transform: uppercase;
  width: 25.4rem;
  height: 7rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  background-color: #EF4036;
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.2rem;
}
.btn-orange:hover {
  background-color: #FF473D;
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.btn-orange:active {
  position: relative;
  top: 0.1rem;
}
@media (max-width: 375px) {
  .btn-orange {
    padding: 1.3rem 8.1rem 1.7rem 8.3rem;
    width: 100%;
    font-size: 2rem;
  }
}

.container {
  max-width: 118rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container {
    width: 34.3rem;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #002A37;
  opacity: 22%;
  margin-top: 9rem;
}
@media (max-width: 375px) {
  .line {
    margin-top: 3.4rem;
  }
}

.title {
  color: #002A37;
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  line-height: 4.3rem;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .title {
    font-size: 3.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.8rem;
}
@media (max-width: 375px) {
  .header .container .nav {
    margin-top: 1rem;
  }
}
.header .container .nav .nav-right {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}
.header .container .nav .nav-right .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3rem;
     -moz-column-gap: 2.3rem;
          column-gap: 2.3rem;
}
.header .container .nav .nav-right .nav-list li a {
  color: #002A37;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  transition: 0.3s ease-out;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.header .container .nav .nav-right .nav-list li a:hover {
  color: #00526D;
}
.header .container .nav .nav-right .nav-list li a:active {
  position: relative;
  top: 0.1rem;
}
.header .container .nav .nav-right .search {
  width: 46.3rem;
  height: 4.6rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem;
  font-size: 1.6rem;
  background-color: rgba(0, 42, 55, 0.0784313725);
}
.header .container .nav .nav-right .search input {
  width: 80%;
}
.header .container .nav .nav-right .search i {
  font-size: 1.6rem;
  color: #002A37;
  cursor: pointer;
}
.header .container .nav .nav-right .search:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.header .container .nav .nav-right .search:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}
.header .container .nav .nav-right .nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3rem;
     -moz-column-gap: 2.3rem;
          column-gap: 2.3rem;
}
.header .container .nav .nav-right .nav-social a {
  font-size: 2.6rem;
}
.header .container .nav .nav-right .nav-social a i {
  color: #002A37;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.header .container .nav .nav-right .nav-social a i:hover {
  color: #00526D;
}
.header .container .nav .nav-right .nav-social a i:active {
  position: relative;
  top: 0.1rem;
}
.header .container .nav .nav-right .line-header {
  width: 100%;
  height: 0.1rem;
  position: absolute;
  background-color: #002A37;
  opacity: 22%;
  top: 6.8rem;
}
@media (max-width: 375px) {
  .header .container .nav .nav-right .line-header {
    left: 0;
    width: 100%;
    top: 5.5rem;
  }
}
.header .container .nav-3 {
  margin-top: 0.7rem;
  margin-left: 14.3rem;
}
@media (max-width: 375px) {
  .header .container .nav-3 {
    display: none;
  }
}
.header .container .nav-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.1rem;
     -moz-column-gap: 1.1rem;
          column-gap: 1.1rem;
}
.header .container .nav-3 ul li {
  font-size: 1.2rem;
  color: #002A37;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.header .container .nav-3 ul li a {
  font-size: 1.2rem;
  color: #002A37;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.header .container .nav-3 ul li a:hover {
  color: #00526D;
}
.header .container .nav-3 ul li a:active {
  position: relative;
  top: 0.1rem;
}

@media (max-width: 375px) {
  .header .container .nav .nav-logo a img {
    display: none;
  }
  .header .container .nav .nav-logo a .none {
    display: block;
    position: absolute;
    top: 1rem;
  }
  .header .container .nav .nav-right {
    margin-left: 0;
  }
  .header .container .nav .nav-right .search {
    display: none;
  }
  .header .container .nav .nav-right .nav-list {
    display: none;
  }
  .header .container .nav .nav-right .nav-social {
    margin-left: 12.2rem;
    margin-top: 0.3rem;
    font-size: 2rem;
  }
  .header .container .nav .nav-right .nav-mobile {
    display: block;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu {
    display: none;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 {
    display: block;
    position: absolute;
    left: -1.6rem;
    top: 6rem;
    width: 100vw;
    height: 25.5rem;
    background: #F0F0F0;
    text-align: center;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 li {
    padding: 2rem;
    border-bottom: 0.1rem solid #002A37;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 li:first-child {
    border-top: 0.1rem solid #002A37;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 li:last-child {
    border: none;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 li a {
    color: #002A37;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 li a:hover {
    color: #00526D;
  }
  .header .container .nav .nav-right .nav-mobile .hamburger-menu:checked ~ .nav-2 li a:active {
    position: relative;
    top: 0.1rem;
  }
  .header .container .nav .nav-right .hamburger {
    width: 2.2rem;
    height: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .container .nav .nav-right .hamburger span {
    width: 100%;
    height: 0.2rem;
    display: block;
    background-color: #002A37;
  }
}
.container {
  max-width: 118rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container {
    width: 34.3rem;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #002A37;
  opacity: 22%;
  margin-top: 9rem;
}
@media (max-width: 375px) {
  .line {
    margin-top: 3.4rem;
  }
}

.title {
  color: #002A37;
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  line-height: 4.3rem;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .title {
    font-size: 3.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.cd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 375px) {
  .cd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero {
  margin-top: 6.7rem;
  margin-left: 5rem;
  width: 65rem;
}
.hero .title {
  max-width: 65rem;
}
.hero p {
  font-size: 1.8rem;
  line-height: 2.9rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.hero h2 {
  font-size: 2.4rem;
  color: #002A37;
  font-weight: 700;
}
.hero h3 {
  font-size: 2.9rem;
  color: #002A37;
  margin-bottom: 1.8rem;
}
.hero .first {
  width: 100%;
}

@media (max-width: 375px) {
  .hero {
    margin-top: 6.1rem;
    margin-left: 0;
    width: 33.5rem;
  }
  .hero p {
    font-size: 1.6rem;
  }
  .hero h2 {
    font-size: 2.4rem;
  }
  .hero h3 {
    font-size: 1.8rem;
  }
  .hero a {
    display: none;
  }
  .hero .flex-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .flex-2 a {
    display: block;
  }
}
.container {
  max-width: 118rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container {
    width: 34.3rem;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #002A37;
  opacity: 22%;
  margin-top: 9rem;
}
@media (max-width: 375px) {
  .line {
    margin-top: 3.4rem;
  }
}

.title {
  color: #002A37;
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  line-height: 4.3rem;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .title {
    font-size: 3.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.aside__left {
  width: 30rem;
  margin-top: 2.8rem;
}
@media (max-width: 375px) {
  .aside__left {
    display: none;
  }
}
.aside__left .aside__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__left .aside__block img {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.aside__left .aside__block img:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.aside__left .aside__block img:active {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.aside__left .aside__block h2 {
  font-size: 1.6rem;
  text-align: center;
  color: #002A37;
  font-family: "Oswald", sans-serif;
  margin-top: 1.6rem;
}
.aside__left .aside__block p {
  color: #1F2A2E;
  line-height: 1.8rem;
  max-width: 15rem;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.aside__left .aside__block .aside__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
  margin-top: 1.5rem;
}
.aside__left .aside__block .aside__flex a i {
  color: #8F96AC;
  font-size: 1.6rem;
  background: rgba(143, 150, 172, 0.0784313725);
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.aside__left .aside__block .aside__flex a i:hover {
  color: #75736F;
}
.aside__left .aside__block .aside__flex a i:active {
  position: relative;
  top: 0.1rem;
}

.container {
  max-width: 118rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container {
    width: 34.3rem;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #002A37;
  opacity: 22%;
  margin-top: 9rem;
}
@media (max-width: 375px) {
  .line {
    margin-top: 3.4rem;
  }
}

.title {
  color: #002A37;
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  line-height: 4.3rem;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .title {
    font-size: 3.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.aside__right {
  margin-top: 3.2rem;
  margin-left: 5rem;
}
.aside__right .aside__content {
  position: relative;
}
.aside__right .aside__content .two {
  margin-top: 3.3rem;
}
.aside__right .aside__content p {
  color: #002A37;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  max-width: 28rem;
}
.aside__right .aside__content .block {
  width: 27.9rem;
  height: 48.6rem;
  padding: 7.2rem 1.3rem 2.5rem 1.3rem;
  gap: 1.9rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1490196078);
  text-align: center;
  margin-bottom: 3.3rem;
  margin-top: 3.3rem;
}
.aside__right .aside__content .block h2 {
  color: #002A37;
  font-size: 2.4rem;
  margin-bottom: 1.9rem;
}
.aside__right .aside__content .block h3 {
  color: #1F2A2E;
  font-size: 1.6rem;
  margin-bottom: 1.9rem;
}
.aside__right .aside__content .block .block-2 {
  border: 0.1rem solid rgba(0, 82, 109, 0.3019607843);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  padding: 1.1rem 0;
}
.aside__right .aside__content .block .block-2 h4 {
  font-size: 1.6rem;
  color: #00526D;
}
.aside__right .aside__content .block .block-2 h5 {
  color: #00526D;
  font-size: 1.9rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8rem;
     -moz-column-gap: 0.8rem;
          column-gap: 0.8rem;
  margin-left: 1.3rem;
}
.aside__right .aside__content .block .block-2 h5 img {
  cursor: pointer;
}
.aside__right .aside__content .block h6 {
  color: #53727C;
  font-size: 1.3rem;
  margin-top: 0.6rem;
}
.aside__right .aside__content .block .btn-one {
  padding: 1.1rem 3.2rem 1.2rem 3.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: #00526D;
  -webkit-box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
          box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  margin-top: 0.6rem;
}
.aside__right .aside__content .block .btn-one span {
  text-transform: lowercase;
}
.aside__right .aside__content .block .btn-two {
  padding: 1.1rem 3.2rem 1.2rem 3.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  background-color: #00526D;
  -webkit-box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
          box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2509803922) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.9rem;
     -moz-column-gap: 0.9rem;
          column-gap: 0.9rem;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 0.6rem;
}
.aside__right .aside__content .btn-orange {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
.aside__right .aside__content .aside__title {
  color: #002A37;
  font-size: 3.6rem;
  font-family: "Oswald", sans-serif;
  margin-top: 3.3rem;
}
.aside__right .aside__content .coin {
  position: absolute;
  top: 70rem;
  left: 9.9rem;
}
.aside__right .aside__content .aside__grid {
  display: grid;
  grid-template-columns: 28rem;
  grid-gap: 1.8rem;
}
.aside__right .aside__content .aside__grid .grid-card {
  padding: 1.8rem 1.5rem 0.7rem 1.5rem;
  gap: 1.8rem;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.0509803922);
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.aside__right .aside__content .aside__grid .grid-card:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
.aside__right .aside__content .aside__grid .grid-card .card-title {
  color: #002A37;
  font-size: 2rem;
  margin-bottom: 1.8rem;
}
.aside__right .aside__content .aside__grid .grid-card .card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.8rem;
  border-top: 0.1rem solid #CCD4D7;
}
.aside__right .aside__content .aside__grid .grid-card .card-flex .card-h3 {
  font-size: 1.4rem;
  color: #000;
  margin-left: 0.6rem;
}
.aside__right .aside__content .aside__grid .grid-card .card-flex img {
  margin-left: 0.5rem;
}
.aside__right .aside__content .aside__grid .grid-card .card-flex .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.aside__right .aside__content .aside__grid .grid-card .card-flex .last .last-p {
  font-size: 1.8rem;
  color: #99AAAF;
  margin-right: 0.6rem;
}
.aside__right .aside__content .aside__grid .grid-card .card-flex .last .last-p2 {
  font-size: 1rem;
  color: #99AAAF;
  max-width: 3.4rem;
  text-align: left;
}

@media (max-width: 375px) {
  .aside__right {
    margin-top: 9.1rem;
    margin-left: 0;
  }
  .aside__right .aside__content {
    margin-left: 3rem;
  }
  .aside__right img:nth-child(6) {
    position: relative;
    right: 1.5rem;
  }
  .aside__right .btn-orange {
    position: relative;
    right: 1.5rem;
  }
  .aside__right .aside__title {
    text-align: center;
    margin-bottom: 2rem;
  }
}
.container {
  max-width: 118rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .container {
    width: 34.3rem;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
}

.none {
  display: none;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #002A37;
  opacity: 22%;
  margin-top: 9rem;
}
@media (max-width: 375px) {
  .line {
    margin-top: 3.4rem;
  }
}

.title {
  color: #002A37;
  font-family: "Oswald", sans-serif;
  font-size: 4.4rem;
  line-height: 4.3rem;
  letter-spacing: -2%;
}
@media (max-width: 375px) {
  .title {
    font-size: 3.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.footer {
  margin-top: 6.7rem;
}
.footer .footer__top {
  background-color: #002A37;
  height: 7.2rem;
}
.footer .footer__top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.8rem;
}
.footer .footer__top .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3rem;
     -moz-column-gap: 2.3rem;
          column-gap: 2.3rem;
}
.footer .footer__top .nav .nav-list li a {
  color: #fff;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  transition: 0.3s ease-out;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.footer .footer__top .nav .nav-list li a:hover {
  color: #00526D;
}
.footer .footer__top .nav .nav-list li a:active {
  position: relative;
  top: 0.1rem;
}
.footer .footer__top .nav .nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.3rem;
     -moz-column-gap: 2.3rem;
          column-gap: 2.3rem;
}
.footer .footer__top .nav .nav-social a {
  font-size: 2.6rem;
}
.footer .footer__top .nav .nav-social a i {
  color: #fff;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.footer .footer__top .nav .nav-social a i:hover {
  color: #00526D;
}
.footer .footer__top .nav .nav-social a i:active {
  position: relative;
  top: 0.1rem;
}
.footer .footer__bottom {
  background-color: #000;
  padding: 0.8rem;
}
.footer .footer__bottom .container .footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__bottom .container .footer__wrapper a {
  color: #F5F6F7;
  font-size: 1.4rem;
  opacity: 40%;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.footer .footer__bottom .container .footer__wrapper a:hover {
  opacity: 80%;
}
.footer .footer__bottom .container .footer__wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.3rem;
     -moz-column-gap: 1.3rem;
          column-gap: 1.3rem;
}

@media (max-width: 375px) {
  .footer {
    margin-top: 8.1rem;
  }
  .footer .footer__top {
    height: 31.8rem;
  }
  .footer .footer__top .nav {
    display: none;
  }
  .footer .footer__top .nav-2 {
    display: block;
    position: relative;
  }
  .footer .footer__top .nav-2 .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
  }
  .footer .footer__top .nav-2 .top .nav-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2.3rem;
       -moz-column-gap: 2.3rem;
            column-gap: 2.3rem;
  }
  .footer .footer__top .nav-2 .top .nav-social a {
    font-size: 2.6rem;
  }
  .footer .footer__top .nav-2 .top .nav-social a i {
    color: #fff;
    transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
  }
  .footer .footer__top .nav-2 .top .nav-social a i:hover {
    color: #00526D;
  }
  .footer .footer__top .nav-2 .top .nav-social a i:active {
    position: relative;
    top: 0.1rem;
  }
  .footer .footer__top .nav-2 .line-footer {
    width: 34.4rem;
    height: 0.1rem;
    background-color: #fff;
    opacity: 22%;
    position: absolute;
    top: 6rem;
  }
  .footer .footer__top .nav-2 .bottom .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.5rem;
    text-align: center;
    margin-top: 3rem;
  }
  .footer .footer__top .nav-2 .bottom .nav-list li a {
    color: #fff;
    font-size: 1.8rem;
    font-family: "Oswald", sans-serif;
    transition: 0.3s ease-out;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
  }
  .footer .footer__top .nav-2 .bottom .nav-list li a:hover {
    color: #00526D;
  }
  .footer .footer__top .nav-2 .bottom .nav-list li a:active {
    position: relative;
    top: 0.1rem;
  }
  .footer .footer__bottom {
    padding-top: 2.8rem;
    padding-bottom: 1.3rem;
  }
  .footer .footer__bottom .container .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.7rem;
  }
  .footer .footer__bottom .container .footer__wrapper .left,
  .footer .footer__bottom .container .footer__wrapper .right {
    display: none;
  }
  .footer .footer__bottom .container .footer__wrapper .none {
    display: block;
  }
}