@import './mixins';
$clr-white: #fff;
$clr-black: #000;

$clr-light-black: #1F2A2E;

$clr-light-blue: #00526D;
$clr-xlight-blue: #006E92;
$clr-dark-blue: #002A37;

$clr-light-green:#40AC2E;
$clr-dark-gray: #53727C;
$clr-light-gray: #515151;
$clr-light-xgray:#75736F;
$clr-light-xxgray:#99AAAF;
$clr-light-xxxgray: #CCD4D7;

$clr-light-orange: #EF4036;
$clr-xlight-orange: #FF473D;

$clr-dark-gray-footer: #4D575A;
$clr-white-footer: #F5F6F7;

$clr-white-header: #002A3714;

$font-size-xxl: 6.5rem;
$font-size-xl: 4.4rem;
$font-size-x: 2.5rem;
$font-size-l: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-ss: 1.3rem;
$font-size-sss: 1.2rem;

$margin-xxsmall: 1rem;
$margin-xsmall: 2rem;
$margin-small: 3rem;
$margin-regular: 4rem;
$margin-medium: 5rem;
$margin-large: 10rem;

$padding-xxsmall: 1rem;
$padding-xsmall: 2rem;
$padding-small: 3rem;
$padding-regular: 4rem;
$padding-medium: 5rem;
$padding-large: 10rem;

$transition-fast: 0.3s ease-out;
$transition-medium: 0.5s ease-out;
$transition-medium: 0.8s ease-out;

$radius: 0.5rem;

$container-width: 118rem;

//Container
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    @include respond-to('phone') {
        width: 34.3rem;
    }
}

//HTML,BODY
html {
    font-size: 10px;
}

body {
    font-family: "Inter", sans-serif; // font-family: "Inter", sans-serif;  // font-family: "Oswald", sans-serif;
}

//None
.none{
    display: none;
}

//Line
.line{
    width: 100%;
    height: 0.1rem;
    background-color: $clr-dark-blue;
    opacity: 22%;

    margin-top: 9rem;
    @include respond-to('phone'){
        margin-top: 3.4rem;
    }
}

//Title
.title{
    color: $clr-dark-blue;
    font-family: "Oswald", sans-serif;
    font-size: $font-size-xl;
    line-height: 4.3rem;
    letter-spacing: -2%;
    @include respond-to('phone'){
        font-size: 3.6rem;
    }
}

// Reset
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/* Links */

a,
a:link,
a:visited {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}