@import '../../../cta';
@import '../../../mixins';
.cd{
    display: flex;
    @include respond-to('phone'){
        flex-direction: column;
    }
}
.hero{
    margin-top: 6.7rem;
    margin-left: 5rem;

    width: 65rem;
    .title{
        max-width: 65rem;
    }
    p{
        font-size: $font-size-l;
        line-height: 2.9rem;

        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    h2{
        font-size: 2.4rem;
        color: $clr-dark-blue;
        font-weight: 700;
    }
    h3{
        font-size: 2.9rem;
        color: $clr-dark-blue;
        margin-bottom: 1.8rem;
    }
    .first{
        width: 100%;
    }
}
@media (max-width: 375px) {
    .hero{
        margin-top: 6.1rem;
        margin-left: 0;

        width: 33.5rem;
        p{
            font-size: $font-size-m;
        }
        h2{
            font-size: 2.4rem;
        }
        h3{
            font-size: $font-size-l;
        }
        
        a{
            display: none;
        }

        .flex-2{
            display: flex;
            a{
                display: block;
            }
        }
    }
}